.starclass {
    float: left;
}

li.starliclass {
    list-style-type: none;
    float: left;
    font-weight: bolder;
    font-size: 30px;
    margin: 5px;
    color: red;
}

ul.starulclass {
    width: 400px;
}

.keypadclass {
    clear: both;
    margin: auto;
    width: 40%;
    margin-top: 100px;
}

.keypadbuttonclass {
    background: transparent;
    border: 2px solid black;
    margin: 10px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    font-weight: bolder;
    cursor: pointer;
}

button.lifeclass {
    margin: 0px 0px 0px 86px;
}

button.enterclass {
    display: block;
    margin: 0px 0px 10px 80px;
}

.controlclass {
    width: 33%;
    float: left;
    padding-top: 37px;
}

.displayclass {
    width: 33%;
    float: left;
    padding-top: 25px;
}

.firstrow {
    height: 50px;
    padding-top: 20px;
}

input[type="button"]:disabled{
    color: white;
    border: 2px solid white;
    background: gray;
}

.enterclass {
    display: block;
    margin: 0px 0px 10px 135px;
    width: 59px;
    height: 30px;
    background: transparent;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
}

.lifeclass {
    display: block;
    margin: 0px 0px 10px 135px;
    width: 59px;
    height: 30px;
    background: transparent;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
}